<div class="container">
  <div class="row">
    <nav class="col navbar navbar-expand-lg bg-dark navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        id="navbarContent"
        class="collapse navbar-collapse"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"> Accueil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category"> Catégorie </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/task"> Tâche </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sheet"> Bilan </a>
          </li>
        </ul>
      </div>
      <h1>
        <a class="navbar-brand" routerLink="/">
          <!--
          <img [src]="path +'/block.png'" alt="" />
          -->
          {{ title }}
        </a>
      </h1>
    </nav>
  </div>
</div>
<!-- Afficher les routes -->
<router-outlet></router-outlet>
