<h2>Liste des catégories</h2>
<form>
  <input
    name="category"
    [(ngModel)]="Category.newCategory"
    placeholder="nouvelle catégorie"
  />

  <button id='createButton' (click)="createCategory()">Ajouter</button>
  <button id='renameButton' [hidden]="!Category.toggleRename" (click)="renameCategory()">
    Modifier
  </button>
  <br />

  <select name="selected" [(ngModel)]="Category.selectedCategory">
    <option
      *ngFor="let category of Category.categories"
       selected="Category.selectedCategory"
    >
      {{ category }}
    </option>
  </select>
  <button id='deleteButton' (click)="deleteCategory()">Supprimer</button>
  <button (click)="Category.toggleRename = true">Renommer</button>
  <br />
</form>
