<div class="container">
  <div
    class="row col-lg-6 bg-secondary text-white rounded mx-auto mt-2 hTitles"
  >
    <h2 class="text-center">Liste des catégories</h2>
  </div>
  <div class="row col-lg-6 bg-dark text-white rounded mx-auto pb-2 pt-2 tBody">
    <form class="form-inline" #form="ngForm">
      <div class="form-group">
        <label for="categoryTitle"> Titre </label>
        <input
          class="form-control"
          name="category"
          min="1"
          max="12"
          required
          [(ngModel)]="Category.newCategory"
          placeholder="nouvelle catégorie"
        />
      </div>

      <button
        id="createButton"
        class="btn btn-outline-primary my-2 mr-2"
        [disabled]="!form.form.valid"
        *ngIf="!form.form.valid"
      >
        Ajouter
      </button>
      <button
        id="createButton"
        class="btn btn-primary my-2 mr-2"
        (click)="createCategory()"
        *ngIf="form.form.valid"
      >
        Ajouter
      </button>

      <button
        id="renameButton"
        class="btn btn-outline-primary my-2 ml-2"
        [hidden]="!Category.toggleRename"
        [disabled]="!form.form.valid"
        *ngIf="!form.form.valid"
      >
        Modifier
      </button>
      <button
        id="renameButton"
        class="btn btn-primary my-2 ml-2"
        [hidden]="!Category.toggleRename"
        *ngIf="form.form.valid"
        (click)="renameCategory()"
      >
        Modifier
      </button>

      <br />
      <label for="categoryEdit"> Editer une catégorie</label>
      <select
        class="form-control"
        name="selected"
        [(ngModel)]="Category.selectedCategory"
      >
        <option value="" selected disabled>Choisir une catégorie...</option>
        <option
          *ngFor="let category of Category.categories"
          selected="Category.selectedCategory"
        >
          {{ category }}
        </option>
      </select>

      <button
        id="deleteButton"
        class="btn btn-danger my-2 mr-2"
        (click)="deleteCategory()"
      >
        Supprimer
      </button>
      <button
        class="btn btn-info my-2 ml-2"
        (click)="Category.toggleRename = true"
      >
        Renommer
      </button>
    </form>
  </div>
</div>
