<h2>Liste des tâches</h2>
<ul *ngFor="let item of taskList; let i = index">
  <li *ngIf="!item.taskFinished">
    <div class="Task"><label>Tâche :</label> {{ item.title }}</div>

    <div class="Category" *ngIf="item.category != ''">
      <label>Categorie :</label> {{ item.category }}
    </div>
    <div class="Category" *ngIf="item.category == ''">
      <label>Categorie :</label> Sans catégorie
    </div>

    <div class="StartDate">
      <label>Date de Début :</label>
      {{ item.startDate | date: "mediumDate" }}
    </div>

    <div class="EndDate">
      <label>Date de Fin :</label>
      {{ item.finishDate | date: "mediumDate" }}
    </div>

    <div class="Duration">
      <label> Durée de la tâche:</label>
      {{ item.duration }} jours.
    </div>

    <div class="RemainDuration" [hidden]="item.isLate">
      <label>Durée restante :</label>
      {{ getRemainingDuration(item) }} jours.
    </div>

    <div class="late" [hidden]="!item.isLate">Tâche en retard !!</div>
    <div class="notLate" [hidden]="item.isLate">
      Pas de retard sur la tâche.
    </div>

    <div *ngIf="item.type == 'Ponctuel'">
      <div class="Status" [hidden]="item.taskFinished">
        <label> Statut :</label> en cours.
      </div>
      <div class="Status" [hidden]="!item.taskFinished">
        <label> Statut :</label> terminée.
      </div>
      Cochez pour terminer :
      <input
        type="checkbox"
        name="check"
        [(ngModel)]="item.taskFinished"
        (click)="toggleTaskState(item)"
      />
    </div>

    <div *ngIf="item.type == 'Long cours'">
      <div *ngIf="item.taskPercentage < 100">
        <label> Statut :</label> {{ item.taskPercentage }}% réalisé
      </div>
      <div *ngIf="item.taskPercentage == 100">
        <label> Statut :</label> Terminée
      </div>
      Modifier le pourcentage :
      <input
        name="numberField"
        type="number"
        [min]="item.taskPercentage"
        [max]="100"
        step="5"
        value="0"
        [(ngModel)]="item.taskPercentage"
      />

      <button
        id='percentageButton'
        name="button"
        ngDefaultControl
        (click)="updateTaskPercentage(item)"
        [(ngModel)]="item.taskFinished"
      >
        Valider
      </button>
    </div>
    <button id='updateButton' (click)="toggleUpdateTask(item, i)">Modifier la tâche</button>
  </li>
</ul>
