<div class="container">
  <div
    class="row mx-auto mt-2 col-lg-8 rounded bg-secondary text-white hTitles"
  >
    <h1 class="text-center">Bilan</h1>
  </div>
  <div class="row mx-auto pb-2 col-lg-8 rounded bg-dark text-white tBody">
    <div class="form-group col-lg-6">
      Pour la période du
      <input
        class="form-control"
        name="periodStart"
        type="date"
        [(ngModel)]="periodStart"
        #Start="ngModel"
      />
      au
      <input
        class="form-control col-lg-6"
        name="periodEnd"
        type="date"
        [(ngModel)]="periodEnd"
        #End="ngModel"
      />
      <span [hidden]="testPeriodError() || End.pristine || Start.pristine">
        Veuillez saisir des dates cohérentes !</span
      >
    </div>
  </div>

  <div *ngIf="testPeriodError()">
    <div
      class="row mx-auto mt-2 col-lg-8 rounded bg-secondary text-white hTitles"
    >
      <h3 class="text-center" name="bilanPériodique">Bilan périodique</h3>
    </div>

    <div class="row mx-auto mb-2 pb-2 col-lg-8 rounded bg-dark text-white tBody">
      <label class="remainTaskText" for="periodicRest">
        Toutes les tâches restantes :
      </label>
      <ul class="list-group" *ngFor="let item of taskList">
        <li class="list-item pl-4" *ngIf="showTaskInPeriod(item)">
          {{ item.title }}
        </li>
      </ul>
    </div>

    <div
      class="row mx-auto rounded py-2 col-lg-8 bg-dark text-white tBody"
    >
      <label>Pourcentage des tâches réalisées dans les temps</label>
      <div
        class="progress progress-bar-striped bg-success"
        [style.width.%]="finishedInPeriod"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        name="finished"
        attr.id="finishedInPeriod"
      >
        {{ finishedInPeriod }}%
      </div>

      <label>Pourcentage des tâches réalisées avec un retard</label>
      <div
        class="progress progress-bar-striped bg-warning"
        [style.width.%]="delayFinishedInPeriod"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        name="delayFinished"
        attr.id="delayFinishedInPeriod"
      >
        {{ delayFinishedInPeriod }}%
      </div>
      <label>Pourcentage des tâches non-réalisées</label>
      <div
        class="progress progress-bar-striped bg-danger"
        [style.width.%]="unfinishedInPeriod"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        name="unfinished"
        attr.id="unfinishedInPeriod"
      >
        {{ unfinishedInPeriod }}%
      </div>
    </div>
  </div>

  <div
    class="row mx-auto mt-2 col-lg-8 rounded bg-secondary text-white hTitles"
  >
    <h3 class="text-center" name="bilanGlobal">Bilan global</h3>
  </div>

  <div class="row mx-auto mb-2 pb-2 col-lg-8 rounded bg-dark text-white tBody">
    <label class="remainTaskText" for="rest">
      Toutes les tâches restantes :</label
    >
    <ul class="list-group" *ngFor="let item of taskList">
      <li class="list-item pl-4" *ngIf="!item.taskFinished">
        {{ item.title }}
      </li>
    </ul>
  </div>

  <div class="row mx-auto rounded py-2 col-lg-8 bg-dark text-white tBody">
    <label> Pourcentage des tâches réalisées dans les temps </label>
    <div
      class="progress progress-bar-striped bg-success"
      [style.width.%]="finished"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      name="finished"
      attr.id="finished"
    >
      {{ finished }}%
    </div>

    <label>Pourcentage des tâches réalisées avec un retard</label>
    <div
      class="progress progress-bar-striped bg-warning"
      [style.width.%]="delayFinished"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      name="delayFinished"
      attr.id="delayFinished"
    >
      {{ delayFinished }}%
    </div>

    <label>Pourcentage des tâches non-réalisées</label>
    <div
      class="progress progress-bar-striped bg-danger"
      role="progressbar"
      [style.width.%]="unfinished"
      aria-valuemin="0"
      aria-valuemax="100"
      name="unfinished"
      attr.id="unfinished"
    >
      {{ unfinished }}%
    </div>
  </div>
</div>
