<!-- Création/Modification tâche -->
<h2 [hidden]="toggleUpdateButton">Créer une nouvelle tâche</h2>
<h2 [hidden]="!toggleUpdateButton">Mettre à jour une tâche</h2>
<form #form="ngForm">
  Tâche:<input
    placeholder="nouvelle tâche"
    name="taskField"
    type="text"
    required
    minlength="1"
    [(ngModel)]="newTask.title"
  /><br />
  Type:
  <select name="type" required [(ngModel)]="newTask.type">
    <option>Ponctuel</option>
    <option>Long cours</option></select
  ><br />

  Catégorie:<select name="category" [(ngModel)]="newTask.category">
    <option></option>
    <option *ngFor="let item of categories">{{ item }}</option></select
  ><br />

  <div [hidden]="toggleUpdateButton">
    Date de début:<input
      name="startDate"
      type="date"
      required
      [ngModel]="newTask.startDate | date: 'yyyy-MM-dd'"
      (ngModelChange)="newTask.startDate = $event"
      #startDate="ngModel"
    /><span [hidden]="testStartDateError(newTask) || startDate.pristine">
      La tâche doit commencer au moins aujourd'hui !
    </span>
  </div>
  Date de fin:<input
    name="finishDate"
    type="date"
    required
    [ngModel]="newTask.finishDate | date: 'yyyy-MM-dd'"
    (ngModelChange)="newTask.finishDate = $event"
    #endDate="ngModel"
  /><span [hidden]="testEndDateError(newTask) || endDate.pristine">
    La date de fin doit être supérieure à celle du début !
  </span>
  <br />
  <button
    id="createButton"
    [hidden]="toggleUpdateButton"
    [disabled]="
      !form.form.valid ||
      !testStartDateError(newTask) ||
      !testEndDateError(newTask)
    "
    (click)="createTask()"
  >
    Ajouter Tâche
  </button>
  <button
    id="updateButton"
    [hidden]="!toggleUpdateButton"
    [disabled]="!form.form.valid || !testEndDateError(newTask)"
    (click)="updateTask()"
  >
    Modifier Tâche
  </button>
</form>
