<h2>Bilan</h2>
<div>
  Pour la période du
  <input name="periodStart" type="date" [(ngModel)]="periodStart" #Start='ngModel'/>
  au
  <input name="periodEnd" type="date" [(ngModel)]="periodEnd" #End='ngModel'/>

  <span [hidden]='testPeriodError() || End.pristine || Start.pristine'> Veuillez saisir des dates cohérentes entre elles</span>
</div>
<hr />

<div class='bilanPériodique' *ngIf="testPeriodError()">
  <h3> Bilan périodique</h3>
  <div name='rest'>
    Toutes les tâches restantes :
    <ul *ngFor="let item of taskList">
      <li *ngIf="showTaskInPeriod(item)">
        {{ item.title }}
      </li>
    </ul>
  </div>

  <div name="finished" attr.id="finishedInPeriod">
    Pourcentage des tâches réalisées dans les temps :
    {{ finishedInPeriod }}%
  </div>

  <div name="delayFinished" attr.id="delayFinishedInPeriod">
    Pourcentage des tâches réalisées avec un retard : {{ delayFinishedInPeriod }}%
  </div>

  <div name="unfinished" attr.id="unfinishedInPeriod">
    Pourcentage des tâches non-réalisées : {{ unfinishedInPeriod }}%
  </div>
  <hr />
</div>

<div class= 'bilanGlobal'>
  <h3>Bilan global</h3>
  <div name='rest'>
    Toutes les tâches restantes :
    <ul *ngFor="let item of taskList">
      <li *ngIf="!item.taskFinished">
        {{ item.title }}
      </li>
    </ul>
  </div>

  <div name="finished" attr.id="finished">
    Pourcentage des tâches réalisées dans les temps :
    {{ finished }}%
  </div>

  <div name="delayFinished" attr.id="delayFinished">
    Pourcentage des tâches réalisées avec un retard : {{ delayFinished }}%
  </div>

  <div name="unfinished" attr.id="unfinished">
    Pourcentage des tâches non-réalisées : {{ unfinished }}%
  </div>
</div>
